// Layouts

body {
  margin: 0;
  padding: 0;
}

.container {
  @include outer-container;
  max-width: 60em;
  padding: 0 15px;

}

.container-post,
.container-page {
  max-width: 40em;
}


// Global Header
// --------------------------

.global-header {
  @include clearfix();
  background: darken($brand-pri, 15);
}



// Header Nav
// --------------------------

.header-nav {
  @include clearfix();
  padding: 2em 0;

  .header-brand {
    float: left;
  }

  .brand-logo {
    display: block;
    max-width: 240px;
  }


  .nav {
    float: right;

    li {
      display: inline-block;
    }

    a {
      color: $gray-light;
      font-family: $sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      font-size: $font-size-base-small;
      display: block;
      margin-left: .5em;
      margin-right: .5em;

      &:hover {
        color: white;
      }

      &.button {
        @include button-variant(white, $brand-sec);
        // box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }
    }
  }


}

.browsehappy {
  background: crimson;
  color: white;
  font-family: sans-serif;
  text-align: center;
  padding: 1em;
  margin: 0;

  a {
    color: yellow;
    border-bottom: 1px dotted;
  }
}


// Global Footer
// --------------------------
.global-footer {
  color: $gray-medium;
  padding: 2em 0 6em;
  font-family: $sans-serif;

  a {
    color: $gray-medium;

    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}

.footer-social .social-links {
  margin: 2em 0;

  a {
    padding: .75em;
  }

}

.footer-copy {
  font-size: $font-size-base-small;
  text-align: center;
}


// Main
// --------------------------
.main { background: white; }



// Page
// --------------------------

.page-header {
  border-bottom: 1px solid darken($smoke-white, 10);
  margin-bottom: 2em;
  padding-top: 4em;
  padding-bottom: 1em;

  .title {
    font-size: 3em;
    font-family: $sans-serif;
    font-weight: 300;
  }
}

.page-footer {}



// Articles
// --------------------------
article {
  margin-left: auto;
  margin-right: auto;

  h1,h2,h3,h4,h5,h6 {
    // font-family: $serif;
  }

  h1,h2,h3 {
    margin: 1.25em 0 0.5em;
  }

  ul { @extend %default-ul; }
  ol { @extend %default-ol; }

  &:after {
    content: '';
    display: block;
    border-bottom: 3px solid darken($smoke-white, 10);
    width: 50px;
    padding: 1em 0;
    margin-bottom: 3em;
  }
}

.article-meta {
  font-size: $font-size-base-small;
  font-family: $sans-serif;
  color: $gray-medium;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.article-intro {
  font-size: $font-size-base * 1.25;
  line-height: 1.2;
}

.article-comments {
  margin-bottom: 3em;
}


// Archives
// --------------------------

.article-list {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    border-bottom: 1px solid darken($smoke-white, 5);
    margin: 3em 0;
    padding-bottom: 2em;

    &:last-child {
      border-bottom: 0;
    }
  }

  .article-excerpt {
    font-size: $font-size-base * 1.25;
    letter-spacing: -1px;
    margin: .25em 0 1em;
  }

  .article-button {
    margin: 1em 0;
  }

}

.article-pagination {
  text-align: center;

  li {
    display: inline-block;
    vertical-align: middle;
  }

  a, span {
    display: block;
    padding: 1em;
  }

  .page-number {
    color: $gray-medium;
    font-family: $sans-serif;
    font-size: $font-size-base-small;
  }

  .prev,
  .next {
    font-size: 1.5em;

    &.off {
      color: $gray-light;
    }
  }

}
