---
layout: archive
title: Blog
---

<ol class="article-list">
{% for post in paginator.posts %}
  <li>
    <p class="article-meta"><time datetime="{{ post.date }}">{{ post.date | date: "%B %-d, %Y" }}</time></p>
    <h3 class="article-title"><a href="{{ site.base_url }}{{ post.url }}">{{ post.title }}</a></h3>
    {% if post.excerpt %}
    <p class="article-excerpt">{{ post.excerpt }}</p>
    {% endif %}
    <div class="article-button"><a href="{{ site.base_url }}{{ post.url }}" class="button button-small button-outline">Continue reading &rarr;</a></div>
  </li>
{% endfor %}
</ol>
