---
layout: archive
title: Blog
intro: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae voluptates natus sunt ea, laboriosam commodi quis deleniti iste odio illo! Iure similique nemo est, repudiandae velit commodi ipsa, qui aperiam.
---

<ol class="article-list">
{% for post in paginator.posts %}
  <li>
    <p class="article-meta"><time>{{ post.date | naturalday }}</time></p>
    <h3 class="article-title"><a href="{{ site.base_url }}{{ post.url }}">{{ post.title }}</a></h3>
    {% if post.excerpt %}
    <p class="article-excerpt">{{ post.excerpt }}</p>
    {% endif %}
    <div class="article-button"><a href="{{ site.base_url }}{{ post.url }}" class="button button-small button-outline">Continue reading &rarr;</a></div>
  </li>
{% endfor %}
</ol>
