    <footer class="global-footer" role="contentinfo">
      <div class="container">
        <div class="footer-social">
          <ul class="social-links">
            <li><a href="http://facebook.com/mymediaroom"><i class="icon icon-facebook"></i></a></li>
            <li><a href="http://twitter.com/mymediaroom"><i class="icon icon-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/company/mymediaroom"><i class="icon icon-linkedin"></i></a></li>
            <!-- <li><a href="#"><i class="icon icon-rss"></i></a></li> -->
          </ul>
        </div>
        <div class="footer-copy">
          <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }} | <a href="{{ site.base_url }}/privacy">Privacy</a></p>
        </div>
      </div>
    </footer>

    <div id="myModal" class="reveal-modal modal">
      <a class="close-reveal-modal modal-close-x">&#215;</a>
      <form action="//cp.mmrdev.com/login2.aspx" method="post" class="form login-form">
        <h3 class="form-heading">Log in</h3>
        <div class="form-group">
          <label for="Username">Username</label>
          <input class="form-control" id="Username" name="Username" type="text">
        </div>
        <div class="form-group">
          <label for="Password">Password</label>
          <input class="form-control" id="Password" name="Password" type="password">
        </div>
        <div class="form-group-action">
          <p class="action-support"><a href="//cp.mmrdev.com/forgotpassword.aspx">Lost Password?</a> | <a href="mailto:support@mymediaroom.com">Support</a></p>
          <div class="action-buttons">
            <button class="button" type="submit">Log in</button>
          </div>
        </div>
      </form>
    </div>

    {% include scripts.html %}
    {% include googleanalytics.html %}

  </body>
</html>
