<header class="front-header" role="banner">
  <div class="container">

    {% include header_nav.html %}

    <div class="front-hero">
      <div class="hero-intro">
        <h1 class="headline">Your Online Hub for Sharing PR and Events with the Right Audience</h1>
        <p class="sub-headline">
          <strong>MyMediaRoom makes it easy for you to create, manage, and distribute all of your press releases, events, and more.</strong>
        </p>
      </div>
      <div class="hero-form">
        <form action="" class="form signup-form">
          <h3 class="form-title">Sign Up Today!</h3>
          <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" id="username" name="username" type="text">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" id="email" name="email" type="email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" id="password" name="password" type="password">
          </div>
          <div class="form-group-action">
            <button class="button button-large" type="submit">Start Your Free Trial</button>
          </div>
        </form>
      </div>
    </div>

  </div>
  <div class="header-bg"></div>
</header>
