button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button {
  @extend %button;
}

.button-small {
  font-size: $font-size-base-small;
  padding: .75em .75em;
}

.button-large {
  padding: 1em 1.5;
  font-size: 1.15em;
}

.button-full {
  width: 100%;
}

.button-outline {
  @include button-variant-outline($gray-medium, $gray-light, white, $brand-pri);
}
