// Grid

// Typography
$sans-serif: 'Open Sans', $helvetica;
$serif: 'Bitter', $georgia;
$base-font-family: $serif;
$header-font-family: $sans-serif;

// Font Sizes
$font-size-base: 1em;
$font-size-base-small: $font-size-base * 0.85;
$font-size-h1: $font-size-base * 2.25;
$font-size-h2: $font-size-base * 2;
$font-size-h3: $font-size-base * 1.75;
$font-size-h4: $font-size-base * 1.5;
$font-size-h5: $font-size-base * 1.25;
$font-size-h6: $font-size-base;

// Line height
$line-height-base: 1.5;
$line-height-header: 1.25;

// Other Sizes
$border-radius-base: 3px;
$spacing-base: $line-height-base * 1em;
$z-index-base: 0;

// Colors
$blue: #477DCA;
$gray-dark: #333;
$gray-medium: #999;
$gray-light: #DDD;
$red-light: #FBE3E4;
$yellow-light: #FFF6BF;
$green-light: #E6EFC2;

// Brand Colors
$smoke: rgb(139,132,117);
$smoke-white: rgb(247,245,241);
// $orange: rgb(252,104,36);
$orange: desaturate(rgb(255, 106, 0), 15%);
$teal: rgb(25,165,180);
$slate: darken(saturate(lightslategray, 18%), 5%);

$brand-pri: $slate;
$brand-sec: $orange;
$brand-ter: $smoke;

// Background Color
$background-color-base: darken($brand-pri, 30);

// Font Colors
$font-color-base: darken($brand-ter, 10);
$accent-color-base: $brand-pri;

// Link Colors
$link-color-base: $accent-color-base;
$link-color-hover: darken($accent-color-base, 15);
$button-color-base: $brand-sec;
$button-color-hover: darken($brand-sec, 15);

// Flash Colors
$color-alert: $yellow-light;
$color-error: $red-light;
$color-notice: lighten($accent-color-base, 40);
$color-success: $green-light;

// Border color
$border-color-base: $gray-light;
$border-base: 1px solid $border-color-base;

// Forms
$form-border-color: $gray-light;
$form-border-color-hover: darken($brand-pri, 3);
$form-border-color-focus: $brand-pri;
$form-border-radius: 0;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $font-size-base;
$form-font-family: $base-font-family;
